.wrapper {
  background-color: #FFFFFF;
  width: 800px;
  border-radius: 10px;
  padding: 24px;
}

.title {
  color: #163C4D;
  font-weight: bold;
  font-size: 24px;
  border-bottom: 2px solid #EEF1F3;
  padding-bottom: 24px;
}

.table {
  width: 100%;
}

.table-row {
  height: 50px;
}

.table-header {
  color: #777777;
}

.table-cell {
  border-bottom: 2px dotted #EEF1F3;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.total {
  font-weight: bold;
  color: #C18830;
}

.operation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
